<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.fusion_tesis">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".Actividad_Principal" />
        <activity
            android:name="us.example.android.fusion_tesis.UI.ActividadLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="us.example.android.fusion_tesis.UI.ActividadPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="us.example.android.fusion_tesis.UI.ActividadRegistro" />
        <activity android:name="us.example.android.fusion_tesis.UI.ActividadCambioClave" />
        <activity android:name="us.example.android.fusion_tesis.UI.ActividadDetalleSitio"
            android:parentActivityName="us.example.android.fusion_tesis.UI.ActividadPrincipal"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">


            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="us.example.android.fusion_tesis.UI.ActividadPrincipal" />
        </activity>
        <activity android:name="us.example.android.fusion_tesis.UI.ActividadListaCompleta"
            android:parentActivityName="us.example.android.fusion_tesis.UI.ActividadPrincipal"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"></activity>
        <activity android:name="us.example.android.fusion_tesis.UI.ActividadCategorias"
            android:parentActivityName="us.example.android.fusion_tesis.UI.ActividadPrincipal"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar">
           <!-- <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter> -->
        </activity>

        <activity android:name="us.example.android.fusion_tesis.UI.ActividadCategoriaSeleccionada"
            android:parentActivityName="us.example.android.fusion_tesis.UI.ActividadCategorias"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"></activity>
    </application>

</manifest>